<?xml version="1.0"?>
<launch>

    <node name="base_node" pkg="b2" type="base_node.py">
        <rosparam file="$(find edgebot_control)/config/motors_base.yaml" command="load" />
    </node>

    <node name="roboclaw" pkg="roboclaw_driver" type="roboclaw_node.py">
        <param name="test_mode" type="bool" value="false"/>
        <param name="dev_name" type="str" value="/dev/ttyTHS0"/>
        <param name="baud" type="int" value="115200"/>
        <param name="address" type="int" value="128"/>
        <param name="loop_hz" type="int" value="10"/>
        <param name="deadman_secs" type="int" value="3"/>
        <param name="speed_cmd_topic" type="str" value="roboclaw/speed_command"/>
        <param name="stats_topic" type="str" value="roboclaw/stats"/>        
    </node>

  <remap from="roboclaw/speed_command" to="/cmd_vel"/>

  

</launch>
