<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    This is used to only launch the base node, with no roboclaw node or testing node.
    The roboclaw node should be launche separately, either with a real roboclaw device,
    or the roboclaw stub.
-->
<launch>

    <node name="base_node" pkg="b2" type="base_node.py">
        <param name="wheel_dist" type="double" value="0.220"/>
        <param name="wheel_radius" type="double" value="0.0325"/>
        <param name="ticks_per_rotation" type="int" value="1632"/>
        <param name="max_drive_secs" type="int" value="1"/>
        <param name="max_qpps" type="int" value="3700"/>
        <param name="base_frame_id" type="str" value="base_link"/>
        <param name="odom_frame_id" type="str" value="world"/>
        <param name="loop_hz" type="int" value="10"/>
        <param name="deadman_secs" type="int" value="10"/>
        <param name="cmd_topic" type="str" value="base_node/cmd_vel"/>
        <param name="roboclaw_stats_topic" type="str" value="roboclaw/stats"/>
        <param name="speed_command_topic" type="str" value="~speed_command"/>
        <param name="odom_topic" type="str" value="~odom"/>
    </node>

</launch>