<?xml version="1.0"?>
<launch>
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
    <param name="serial_baudrate"     type="int"    value="256000"/><!--A3 -->
    <param name="frame_id"            type="string" value="laser_frame"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="false"/>
    <param name="scan_mode"           type="string" value="Standard"/>
  </node>

<!--
  <include file="$(find edgebot)/launch/include/ltp.launch"></include>

-->

</launch>